<!-- Main content wrapper -->
<main class="max-w-md mx-auto flex flex-col gap-8 bg-gray-900 text-gray-200 h-dvh w-dvw p-4">
  <!-- Controls Card -->
  <div class="bg-gray-800 p-4 rounded-xl shadow-lg border border-gray-700">
    <!-- Ruler Selection -->
    <div class="mb-4">
      <div class="flex w-full justify-between items-center mb-3 border-b-2 border-gray-600">
        <h3 class="text-xl font-semibold pb-2 flex items-center gap-2 flex-1"><i class="fa-solid fa-crown"></i> انتخاب حاکم</h3>
        <button (click)="resetGame()" class="bg-gray-700 hover:bg-rose-700 py-2 px-2 text-white font-bold rounded-lg transition-colors flex items-center mx-auto">
          <i class="fa-solid fa-rotate"></i>
        </button>
      </div>
      <div class="flex justify-around gap-2">
        <button
          (click)="selectRulingTeam('team1')"
          [ngClass]="{'bg-blue-600 ring-2 ring-blue-300': gameState.currentRulingTeam === 'team1', 'bg-gray-700 hover:bg-gray-600': gameState.currentRulingTeam !== 'team1'}"
          class="w-full py-2 px-4 rounded-lg font-semibold transition"
        >
          {{ gameState.team1Name }}
        </button>
        <button
          (click)="selectRulingTeam('team2')"
          [ngClass]="{'bg-red-600 ring-2 ring-red-300': gameState.currentRulingTeam === 'team2', 'bg-gray-700 hover:bg-gray-600': gameState.currentRulingTeam !== 'team2'}"
          class="w-full py-2 px-4 rounded-lg font-semibold transition"
        >
          {{ gameState.team2Name }}
        </button>
      </div>
    </div>

    <!-- Suit Selection -->
    <div class="">
      <h3 class="text-xl font-semibold mb-3 border-b-2 border-gray-600 pb-2">انتخاب خال حُکم</h3>
      <div class="flex justify-around">
        <button
          *ngFor="let suit of suits"
          (click)="selectSuit(suit)"
          [ngClass]="{'bg-indigo-600 ring-2 ring-indigo-300': gameState.currentSuit === suit, 'bg-gray-700 hover:bg-gray-600': gameState.currentSuit !== suit}"
          class="w-12 h-12 text-2xl rounded-lg font-bold transition"
        >
          {{ suit }}
        </button>
      </div>
    </div>
  </div>

  <!-- Score Cards -->
  <div class="grid grid-cols-1 gap-6">
    <!-- Team 1 Score Card -->
    <div class="bg-gray-800 relative rounded-xl shadow-lg border-2 border-blue-500 flex flex-col items-center gap-4 p-4">
      @if (gameState.currentRulingTeam === 'team1') {
      <div class="absolute -top-5 -start-3">
        <i class="fa-solid fa-crown text-yellow-500 text-3xl relative"> </i>
      </div>

      }

      <input
        type="text"
        [(ngModel)]="gameState.team1Name"
        (ngModelChange)="onNameChange()"
        class="bg-transparent text-2xl font-bold text-center w-full focus:outline-none focus:ring-2 focus:ring-blue-400 rounded-md p-1"
        placeholder="نام تیم اول"
      />

      <div class="grid grid-cols-2 w-full items-center justify-center">
        <div class="flex flex-row gap-4 justify-center">
          @for (item of [1,2,3,4,5,6,7]; track $index; let ind = $index) {
          <img src="./assets/images/match.svg" alt="" class="h-12 grayscale" [ngClass]="{'!grayscale-0': ind <= gameState.team1Score - 1}" />
          }
        </div>
        <div class="text-7xl font-extrabold text-blue-300 text-center">{{ gameState.team1Score }}</div>
      </div>
      <div class="grid grid-cols-3 gap-1 w-full">
        <div class="col-span-1">
          <button (click)="recordHand('team1')" [disabled]="gameWinner" class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-800 rounded-lg font-bold transition">
            بردیم
          </button>
        </div>
        <div class="col-span-1">
          <button (click)="recordKot('team1')" [disabled]="gameWinner" class="w-full py-3 bg-teal-600 hover:bg-teal-700 disabled:bg-teal-800 rounded-lg font-semibold transition">
            کُت کردیم
          </button>
        </div>
        <div class="col-span-1">
          <button (click)="decrementScore('team1')" [disabled]="gameWinner" class="w-full py-3 bg-yellow-600 hover:bg-yellow-700 disabled:bg-yellow-800 rounded-lg font-semibold transition">
            اشتباه شد
          </button>
        </div>
      </div>
    </div>

    <!-- Team 2 Score Card -->
    <div class="bg-gray-800 p-6 rounded-xl relative shadow-lg border-2 border-red-500 flex flex-col items-center gap-4">
      @if (gameState.currentRulingTeam === 'team2') {
      <div class="absolute -top-5 -start-3">
        <i class="fa-solid fa-crown text-yellow-500 text-3xl"></i>
      </div>
      }

      <input
        type="text"
        [(ngModel)]="gameState.team2Name"
        (ngModelChange)="onNameChange()"
        class="bg-transparent text-2xl font-bold text-center w-full focus:outline-none focus:ring-2 focus:ring-red-400 rounded-md p-1"
        placeholder="نام تیم دوم"
      />
      <div class="grid grid-cols-2 w-full items-center justify-center">
        <div class="flex flex-row gap-4 justify-center">
          @for (item of [1,2,3,4,5,6,7]; track $index; let ind = $index) {
          <img src="./assets/images/match.svg" alt="" class="h-12 grayscale" [ngClass]="{'!grayscale-0': ind <= gameState.team2Score - 1}" />
          }
        </div>
        <div class="text-7xl font-extrabold text-red-300 text-center">{{ gameState.team2Score }}</div>
      </div>

      <div class="grid grid-cols-3 gap-1 w-full">
        <button (click)="recordHand('team2')" [disabled]="gameWinner" class="w-full py-3 bg-red-600 hover:bg-red-700 disabled:bg-red-800 disabled:cursor-not-allowed rounded-lg font-bold transition">
          بردیم
        </button>
        <button
          (click)="recordKot('team2')"
          [disabled]="gameWinner"
          class="w-full py-3 bg-rose-600 hover:bg-rose-700 disabled:bg-rose-800 disabled:cursor-not-allowed rounded-lg font-semibold transition"
        >
          کُت کردیم
        </button>
        <button (click)="decrementScore('team2')" [disabled]="gameWinner" class="w-full py-3 bg-yellow-600 hover:bg-yellow-700 disabled:bg-yellow-800 rounded-lg font-semibold transition">
          اشتباه شد
        </button>
      </div>
    </div>
  </div>

  <!-- Game Over Banner -->
  @if (gameWinner) {
  <div class="absolute top-0 left-0 w-dvw h-dvh bg-black bg-opacity-70 flex items-center justify-center p-4">
    <div class="bg-yellow-500 text-gray-900 p-6 rounded-xl shadow-lg text-center animate-fade-in">
      <h3 class="text-3xl font-bold mb-2"><i class="fa-solid fa-trophy mr-2"></i> بازی تمام شد!</h3>
      <p class="text-xl">برنده: <span class="font-bold">{{ gameWinner === 'team1' ? gameState.team1Name : gameState.team2Name }}</span></p>
      <div class="flex gap-2 justify-center mt-4">
        <button (click)="resetGame()" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg transition">شروع بازی جدید</button>
        <button (click)="gameWinner = null" class="border-2 border-red-600 text-red-600 font-bold py-2 px-4 rounded-lg transition">بستن</button>
      </div>
    </div>
  </div>

  }
</main>
